* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
#main {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:center;
}
*::selection {
    background-color: aliceblue;
    color: #000;
}
#background {
    width: 414px;
    height: 812px;
    margin-top: 90px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),url(https://i.pinimg.com/originals/09/c6/29/09c62903beeba336dc9da76eb5c9a107.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 5px black solid;
    border-radius: 50px;
}

#avatar {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#avatar .zuy-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
#name {
    font-size: 16px;
    text-align: center;
    color:#00FECA;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
#name .zuy-tagname {
    font-style: italic;
    margin-top: 10px;
}
#name .zuy-birthday {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
}
#name .zuy-birthday i {
    padding-left: 10px;
}
#infor ul {
    list-style-type: none;
    text-align: center;
}
#infor ul li {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 1px;
    margin-bottom: 20px;
    color: #00FECA;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    width: 310px;
    display: inline-block;
    border: 2px #00FECA solid;
    box-shadow: 0px 0px 30px rgba(121, 255, 254,0.6);
}
#infor ul li i {
    padding-right: 8px;
    font-size: 20px;
}
#infor ul li a {
    color: #00FECA;
    text-decoration: none;
}
#footer {
    text-align: center;
}
#footer .social-list {
    margin: 20px 0;
}
#footer .social-list a {
    color: #00FECA;
    font-size: 20px;
    margin: 0px 5px;
    text-decoration: none;
}
#footer .sub-footer,
#footer .sub-footer a {
    color: #00FECA;
    font-size: 18px;
    margin: 20px 0;
}

.social-list a:hover,
.sub-footer a:hover{
    opacity: 0.6;
}

@media (max-width: 739px) {
    #background {
        border: none;
        border-radius: 0;
        margin-top: 0;
        padding: 0 10px;
    }
}
